{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}Sad Babies's First Website{% endblock %}</h1>
</div>
{% endblock %}


{% block content %}
<div class="container">

  
  <form method="post">
    <div class="form-group">
      <label for="email">Try reading sample data: show_id = 0, show_id = 1, show_id = 2 <br/></label>
      <p class="mb-0"><br/>Create</p>
      <small id="emailHelp" class="form-text text-muted">Enter all 12 attributes show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description</small>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show_id" name="show_id">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show type" name="type">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show title" name="title">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show director" name="director">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show cast" name="cast">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show country" name="country">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show date_added" name="date_added">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show release_year" name="release_year">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show rating" name="rating">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show duration" name="duration">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show listed_in" name="listed_in">
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New show description" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
      <label for="user-password">Read</label>
      <input type="text" class="form-control" id="user-password" placeholder="show_id" name="read_id">
      {% if (show is defined) and show %}
      <p class="lead">Here is your show:</p>
      {% for row in show %}
      <p class="lead"> ID: {{ row['show_id']}}, Type: {{row['type']}}, Title: {{row['title']}}, Director: {{row['director']}}, Cast: {{row['cast']}}, Country: {{row['country']}}, Date Added: {{row['date_added']}}, Release Year: {{row['release_year']}}, Rating: {{row['rating']}}, Duration: {{row['duration']}}, Listed In: {{row['listed_in']}}, Description: {{row['description']}} </p>
      {% endfor %}
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
      <label for="user-password">Delete</label>
      <input type="text" class="form-control" id="user-password" placeholder="show_id for deletion" name="delete_id">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
      <label for="user-password">Update</label>
      <input type="text" class="form-control" id="user-password" placeholder="show_id" name="update_id">
      <input type="text" class="form-control" id="user-password" placeholder="new type" name="utype">
      <input type="text" class="form-control" id="user-password" placeholder="new title" name="utitle">
      <input type="text" class="form-control" id="user-password" placeholder="new director" name="udirector">
      <input type="text" class="form-control" id="user-password" placeholder="new cast" name="ucast">
      <input type="text" class="form-control" id="user-password" placeholder="new country" name="ucountry">
      <input type="text" class="form-control" id="user-password" placeholder="new date added" name="udate_added">
      <input type="text" class="form-control" id="user-password" placeholder="new release year" name="urelease_year">
      <input type="text" class="form-control" id="user-password" placeholder="new rating" name="urating">
      <input type="text" class="form-control" id="user-password" placeholder="new duration" name="uduration">
      <input type="text" class="form-control" id="user-password" placeholder="new listed_in" name="ulisted_in">
      <input type="text" class="form-control" id="user-password" placeholder="new description" name="udescription">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>    
{% endblock %}
